main {
  text-align: center;
}

h1 {
  color: white;
}
body {
  height: 100vh;
  background: #151519;
}
button {
  background: none;
  color: #ccc;
  width: 240px;
  height: 80px;
  border: 1px solid white;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
}
button:hover {
  background-color: teal;
}

#movieDisplay,
#foodDisplay {
  color: white;
  font-size: 20px;
}
